@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .panel-layer {
    @apply w-full desktop:max-w-[90vw] max-w-[100vw] bg-fdf9f5 mx-auto relative
    after:content-[""] after:desktop:w-[85vw] after:w-[87vw] after:desktop:h-[2.4rem] after:h-[1.6rem] after:bg-ac917d after:opacity-50 after:absolute after:desktop:top-[-24px] after:top-[-1.6rem] after:left-0 after:right-0 after:my-0 after:mx-auto 
    before:content-[""] before:desktop:w-[85vw] before:w-[87vw] before:desktop:h-[2.4rem] before:h-[1.6rem] before:bg-ac917d before:opacity-50 before:absolute before:desktop:bottom-[-24px] before:bottom-[-1.6rem] before:left-0 before:right-0 before:my-0 before:mx-auto;
  }
  .panel-seperate {
    @apply w-full desktop:max-w-[70vw] max-w-[87vw] flex justify-center border-b-4 border-dotted mx-auto;
  }
  .container {
    @apply w-full desktop:max-w-[85vw] max-w-[87vw] mx-auto;
  }
  .btn-secondary {
    @apply flex justify-center items-center desktop:w-[17.6rem] w-[15.6rem] h-[5.2rem] bg-secondary font-semibold text-[1.8rem] leading-[3rem] text-f6e8d6 
    hover:bg-transparent hover:text-secondary hover:border-[1.5px] hover:border-secondary hover:duration-200
    disabled:cursor-default disabled:opacity-50 disabled:bg-secondary disabled:text-f6e8d6;
  }
  .btn-secondary-reverse {
    @apply flex justify-center items-center desktop:w-[17.6rem] w-[15.6rem] h-[5.2rem] cursor-pointer
    hover:bg-secondary hover:text-f6e8d6 font-semibold text-[1.8rem] leading-[3rem] 
    bg-transparent text-secondary border-[1.5px] border-secondary hover:duration-200
    disabled:cursor-default disabled:opacity-50 disabled:bg-secondary disabled:text-f6e8d6;
  }
  .checkbox {
    @apply absolute top-[50%] translate-y-[-50%] right-0 h-[20px] w-[20px] border-[1px] border-secondary 
          after:content-[''] after:absolute after:hidden after:left-[50%] after:top-[50%] after:translate-x-[-50%] after:translate-y-[-50%] after:w-[5px] after:h-[10px] after:border-l-transparent after:border-r-white after:border-t-transparent after:border-b-white 
          after:border-l-0 after:border-r-[3px]  after:border-t-0 after:border-b-[3px] after:rotate-45
          peer-checked:bg-secondary peer-checked:after:block;
  }
  .paginationBtn {
    @apply w-[4rem] h-[4rem] bg-white text-[#B7B5B3] flex justify-center items-center
          focus:bg-secondary focus:text-[#F8F4F1] focus:duration-200 shadow-[0_2px_12px_rgba(0,0,0,0.12)]
          disabled:opacity-40 disabled:cursor-default;
  }
  .loading_circle {
    @apply  border-[1rem] border-[#EAF0F6] rounded-[50%] border-t-[1rem] border-t-secondary w-[10rem] h-[10rem]
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #d08c30;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: #fdf9f5;
  }
  .webkit-box {
    display: -webkit-box;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
