@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Mukta', sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
body::-webkit-scrollbar{
  width: 8px;

}
body::-webkit-scrollbar-thumb{
  background-color: #D08C30;
}
body::-webkit-scrollbar-track{
  background-color: #fdf9f5;
}